div.sortable table {
  z-index: 10;
  position: relative;
}

div.sortable th, div.sortable td {
  font-family: monospace;
  padding: 1px 6px;
}
div.sortable th {
  font-size: 90%;
  vertical-align: top;
}
div.sortable td {
  white-space: nowrap;
  font-size: 76%;
}

div.sortable thead {
  background-color:#F7F7F7;
  color:#666666;
  font-weight: bold;
  cursor: default;
  z-index: 9;
}

div.sortable tbody tr:nth-child(2n) td {
  background: #FAFAFA;
}

div.sortable tbody tr:nth-child(2n+1) td {
  background: #FCFCFC;
}

/* So it does not overlap with our main feature, the table */
aside#sidebar {
  background-image: none;
}
